\begin{tabularx}{\linewidth}{X@{\hskip 1em}r@{\hskip 1em}r@{\hskip 1em}r@{\hskip 1em}r@{\hskip 1em}r@{\hskip 1em}r@{\hskip 1em}r@{\hskip 1em}r@{\hskip 1em}}
        \toprule
        \textbf{total inputs: \VAR{total}}
{% for s in solvers %} & \rotatebox[origin=c]{60}{\texttt{\VAR{solvernames[s]}}}{% endfor %}
        \\
        \midrule
{% for d in data %}
        \textbf{\VAR{datanames[d]}}
        {% for s in solvers %} & \VAR{data[d][s]}{% endfor %} \\
{% endfor %}
        \bottomrule
\end{tabularx}
